/* Login.css */

body {
    margin: 0; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    background-image: url("../img/nelayanbg.jpg");
    background-size: cover;       
    background-position: center;               
    background-repeat: no-repeat;
}

.login-before {
    height: 80vh; 
}

.login {
    display: flex;   
    height: 70vh;             
    justify-content: center;      
    align-items: center; 
    z-index: 0; 
}

.rectangle {
    background-color: black;
    opacity: 0.7;
    z-index: 1; 
}

.login-container {
    display: flex;                
    flex-direction: column;  
    padding: 20px;           
    height: auto; 
    width: 30vw;               
    max-width: 400px;           
    background-color: #f5f5f5; 
    border-radius: 10px;  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    z-index: 2; 
}

h2 {
    text-align: left;  
    width: 100%;       
    margin: 0 0 20px;  
    padding-left: 10px; 
}

input {
    width: 90%; 
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

label {
    text-align: left;        
    width: 100%;             
    margin: 5px 0;           
    padding-left: 10px;      
    display: block;          
}

button {
    padding: 10px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    align-self: flex-end; 
}

button:hover {
    background-color: #0056b3; 
}

.login-reg{
    margin-top:10px;
    font-size:10px;
}

.login-reg:hover{
    cursor:pointer;
    text-decoration: underline;
}
